<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools"
        package="dev.jtsalva.cloudmare">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
            android:allowBackup="true"
            android:fullBackupContent="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="false"
            android:theme="@style/AppTheme"
            tools:replace="android:supportsRtl">
        <activity
                android:name=".NetworkActivity"
                android:launchMode="singleTask" />
        <activity
                android:name=".SettingsActivity"
                android:launchMode="singleTask" />
        <activity
                android:name=".AnalyticsActivity"
                android:launchMode="singleTask" />
        <activity
                android:name=".CachingActivity"
                android:launchMode="singleTask" />
        <activity
                android:name=".SSLActivity"
                android:launchMode="singleTask" />
        <activity
                android:name=".PageRulesActivity"
                android:launchMode="singleTask" />
        <activity
                android:name=".DNSRecordActivity"
                android:launchMode="singleTask" />
        <activity
                android:name=".DNSListActivity"
                android:launchMode="singleTask" />
        <activity
                android:name=".DomainListActivity"
                android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
                android:name=".DomainDashActivity"
                android:launchMode="singleTask" />
        <activity
                android:name=".UserActivity"
                android:launchMode="singleTask" />
    </application>

</manifest>